/*1st row*/

h1{
    text-align: center;
    background-color: gray;
}
h2{
    text-align: center;
    background-color: gray; 
}
.row:after {
    content: "";
    display: table;
    clear: both;
.row:after {
    content: "";
    display: table;
    clear: both;